body{
    background:beige;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:black;
    text-align: center;
}
.projects {
     display:flex;
      flex-wrap:wrap;
 } 
.project {
width: 48%;
margin: 10px;
padding: 30px 20px;
background: white; 
border-radius: 25%;
}
.project img{
width: 300px;
height: auto;
margin: 10px;
border: 2px solid rgb(22, 21, 21); 
display: block;
margin: auto;
}